body {
    margin: 0px;
    background-color: rgb(168 166 209);
    width: 100%;
}
.container {
    background-color: rgb(48 0 255 / 23%);
    padding-top: 3rem;
    border-radius: 6px;
    width: 95%;
    margin-left: 26px;
}
.rps-logo {
    width: 64px;
}
.Header {
    text-align: center;
    font-size: 3em;
}
.game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.game-section .control-section {
    display: flex;
    gap: 24px;
    padding-left: 10em;
}

.game-section .control-section1 {
    display: flex;
    gap: 24px;
    padding-right: 10em;
}

.scoreboard-section {
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scoreboard {
    display: flex;
    gap: 24px;
    padding-left: 20em;
}

.scoreboard1 {
    display: flex;
    gap: 24px;
    padding-right: 20em;
}
.winner {
    text-align: center;
    font-size:large;
}

@media (max-width: 414px){
    .container {
        display: flex;
        flex-direction: column;
        padding: 1rem 20px;
    }

    .scoreboard {
        padding: 0;
    }

    .scoreboard1 {
        padding: 0;
    }

    .game-section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .game-section .control-section {
        padding-left: 8px;
        width: fit-content;
    }

    .game-section .control-section1 {
        padding-left: 8px;
    }

    .vs-tag{
        width:fit-content ;
        margin-right: 0;
    }

    .scoreboard-section {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .scoreboard, .scoreboard1 {
        max-width: fit-content;
        display: flex;
        gap: 4px;
    }
}